{% extends 'base.html' %}

{% block title %}
Commande validée
{% endblock %}

{% block content %}

<section class="products-section">

    <div class="container">

        <div class="text-center">

            <div class="premium-product-card p-5">

                <h1 class="fw-bold mb-4">

                    Commande confirmée ✅

                </h1>

                <p class="lead">

                    Merci pour votre commande.
                    Votre demande a été enregistrée avec succès.

                </p>

                <a
                    href="/products/"
                    class="btn-premium-main mt-4"
                >
                    Continuer les achats
                </a>

            </div>

        </div>

    </div>

</section>

{% endblock %}